{% extends 'base.html' %}

{% block title %}
Dashboard - user inventory
{% endblock title %}


{% block content %}
    <section>
        <div>
            {% if messages %}
                {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                {% endfor %}
            {% endif %}
            <h1>User Dashboard</h1>
            <p>user management inventory</p>
        </div>
    </section>
{% endblock content %}